@import url(./reset.css);
@import url(./reset1.css);
@import url(./header.css);
/* @import url(./hero.css); */
@import url(./bonus-section.css);
/* @import url(./steps-section.css);
@import url(./benefits-section.css);
@import url(./users-section.css);
@import url(./reviews-section.css);
@import url(./faq-section.css); */
@import url(./privecy.css);
@import url(./footer.css);

@font-face {
  font-family: "InterTight";
  src: url("../fonts/InterTight-Bold.woff2") format("woff2");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "InterTight";
  src: url("../fonts/InterTight-LightItalic.woff2") format("woff2");
  font-weight: 300; /* Light */
  font-style: italic;
}

@font-face {
  font-family: "InterTight";
  src: url("../fonts/InterTight-Medium.woff2") format("woff2");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "InterTight";
  src: url("../fonts/InterTight-Regular.woff2") format("woff2");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "InterTight";
  src: url("../fonts/InterTight-SemiBold.woff2") format("woff2");
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

:root {
  --bd-color: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  --color-dark: #000000;
  --color-title: #1f2024;
  --color-primery: #252432;
  --gradient-collor: linear-gradient(
    to bottom,
    rgba(173, 243, 236, 0.5),
    rgba(121, 236, 225, 0.5)
  );
  --border-radius: 40px;
  --box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  --font-family-base: "InterTight", sans-serif;
  --container-width: 1300px;
  --container-padding-x: 90px;
  --transition-duration: 0.2s;
}

body {
  font-family: var(--font-family-base);
  color: var(--color-primery);
  font-size: 18px;
  font-weight: 400;
 
  background-color: #d1f0ff9c;

}

.container--wide {
  padding-top: 48px;
}
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
  padding-top: 96px;
  /* padding-bottom: 96px; */
}

.section--margin-bottom {
  margin-bottom: 96px;
}
.section--padding-top {
  padding-top: 96px;
}

.translatey--section {
  position: relative;
  overflow: hidden;
  transform: translateY(30%);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
}
.translatey--section.visible {
  transform: translateY(0);
  opacity: 1;
}
/* .remuneration {
  display: none;
} */
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
@media (max-width: 1160px) {
  .container {
    padding-inline: 20px;
  }

  .menu-button {
    display: flex;
    position: absolute;

    right: 40px;
    top: 40px;
    padding: 22px 32px;
  }

  .header__menu {
    position: absolute;
    top: -600%;
    right: 0;
    left: 0;

    width: 100%;
    z-index: 1;
    transition: top 0.3s ease-in-out;
    padding: 20px;
    text-align: center;
  }
  .header__menu-list {
    flex-direction: column;
    row-gap: 30px;
    background: #fff;
  }
  .header__menu-link {
 
    z-index: 1; 
  }
  .menu-button {
    display: flex;
  }
  .header__menu.active {
    top: 10px;
    right: -50px;
  }
  .header__menu.active + .menu-button {
    box-shadow: none;
  }

  .line:nth-child(1) {
    transform: translateY(-8px);
  }

  .line:nth-child(2) {
    opacity: 1;
  }

  .line:nth-child(3) {
    transform: translateY(8px);
  }

  .menu-button.active .line:nth-child(1) {
    transform: translateY(0) rotate(45deg);
  }

  .menu-button.active .line:nth-child(2) {
    opacity: 0;
  }

  .menu-button.active .line:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
  }

  .hero-buttons a:last-child {
    display: none;
  }
  .hero-buttons {
    justify-content: center;
    margin-left: 0;
  }
  .download-btn {
    padding: 6px;
    max-width: 350px;
    width: 100%;
    text-align: center;
  }
  .download-btn img {
    display: inline-block;
  }
}
@media (max-width: 1000px) {
  .footer__wrapper{
    padding-top: 250px;
   
  }

  .footer__img-wrapper{
    left: 50%;
    transform: translateX(-50%);
  }
  .footer__title{
    max-width: 380px;
    width: 100%;
  }
  .footer {
   
  /* background: linear-gradient(180deg, #5C1E8E 0%,  #5D32F6 100%); */

    border-radius: 15px;
  }
  .footer__top {
    margin-bottom: 96px;
  }

  .footer__bootom-wrapper{
    flex-direction: column;
    margin-inline: 0;
    
  }
  .footer__social-wrapper {
    flex-direction: row;

    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 34px;

  }

  .footer__scan-wrapper{
    width: 90px;
    height: 90px;
    background-size: cover;
    background-position: center 9px;
    background-size: 80%;
    top:-5%;
    left:37%;
    

  }
  .footer__scan-wrapper:after { 
    content: '';
    position: absolute;
 
    background-repeat: no-repeat;
    background-size: cover;
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path d='M0 0 H40 C35 0, 0 0, 0 40 Z' fill='%235C1E90'/></svg>");
   

    z-index: -1;
    rotate: 190deg;
    width: 30px;
    height: 30px;
    top: 10px;
    left: -17px;
  
  }
  .footer__scan-wrapper::before { 
    content: '';
    position: absolute;
 

    background-repeat: no-repeat;
    background-size: cover;
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path d='M0 0 H40 C35 0, 0 0, 0 40 Z' fill='%235C1E90'/></svg>");
    
    z-index: -1;
    rotate: -103deg;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 78px;
  
  }
  .footer__socials {
    gap: 15px;
  }
  .corner-shape {
    position: absolute;
    width: 30px;   
    height: 20px;
    top: 4px;
    left: -23px;
  }
  .corner-shape path {
    fill: none !important;
  }
  .corner-shape svg {
    fill: currentColor;
  }
  
}
@media (max-width: 760px) {
  .header {
    padding-top: 0px;
  }
  .container{
    padding-top: 46px;
  }
  .logo__text {
    font-size: 13px;
  }
  .header__menu-list {
    text-align: left;
  }
  .title {
    font-size:18px;
  }
.text{
  font-size: 16px;
}
.text-list {
  padding-left: 0;
  row-gap: 10px;
}
.data-table  {
  font-size: 16px;

}
.conatiner-footer {
  width: 100%;
  padding-inline: 0;
}
.footer {
  /* width: 100%; */
  /* background: linear-gradient(180deg, #5C1E8E 0%,  #5D32F6 100%); */
}
  .footer__scan-wrapper {
    left: 27%;
  }
  .footer__img-wrapper {
    max-width: 280px;

    width: 100%;
  }
  .footer__top {
    margin-bottom: 96px;
  }
  .footer__social-wrapper {
    justify-content: space-between;
  }
}

@media (max-width: 480px) {
  /* .footer__wrapper {
    padding-bottom: 15px;
  } */
  .privecy__title {
    font-size: 22px;
  }

  .footer__bottom {
    gap: 15px;
    flex-wrap: wrap;
    justify-content: start;
  }
  .data-table th,
  .data-table td{
    padding: 8px;
  }
}

@media (max-width: 400px) {
  .data-table th,
  .data-table td {
    padding: 6px;
    font-size: 14px;
  }
  .data-table td:last-child {
    width: 75%;
  }
  
  .menu-button {
    padding: 22px 22px;
    right: 25px;
  }
  .footer__wrapper {
    padding-bottom: 15px;
  }
  .footer__scan-wrapper {
    left:22%;
  }
  .footer__img-wrapper {
    top: -5%;
  }

}

@media (max-width: 307px) {
  .footer__social-wrapper {
    flex-direction: column-reverse;
  }
  .data-table th,
  .data-table td {
    padding: 4px;
  }
}
